.addtheater-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 600px;
  height: auto;
  margin-top: 50px;
  background: #fff;
  padding-bottom: 30px;
  border-radius: 15px;
}

.addtheater-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 20px;
}

.addtheater-text {
  color: #25252495;
  font-size: 37px;
  font-weight: 700;
  margin-bottom: 5px;
}

.addtheater-underline {
  width: 61px;
  height: 6px;
  background: #25252495;
  border-radius: 9px;
}

.addtheater-inputs {
  margin-top: 2rem;

  display: flex;
  flex-direction: column;
  gap: 25px;
}
.input-select{
  padding: .75rem;
  color: #797979;
  font-size: 1.2rem;

}

.addtheater-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 50px;
  background: #eaeaea;
  border-radius: 6px;
}

.addtheater-input-date {
  display: flex;
  margin: auto;
  width: 480px;
  height: 50px;
  background: #eaeaea;
  border-radius: 6px;
}

input {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}

.addtheater-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5a5b5995;
  text-align: center;
  width: 220px;
  height: 59px;
  color: #fff;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}
.addtheater-submit:hover{
  background-color: #25252495;
}

.addtheater-submit-container {
  margin-top: 0.0006rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"] {
  transform: scale(0.5);
}


.addtheater-label-date {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}

.addtheater-input-file {
  margin: auto;
}

.addTime-input {
  border: 1px solid #ccc; /* Add border */
  border-radius: 5px; /* Add border-radius for rounded corners */
  padding: 8px 12px; /* Add padding for spacing inside the box */
  width: 100%; /* Set width to fill the container */
  height: 2rem;
  box-sizing: border-box; /* Include padding and border in the width */
}

/* Optional: Add styles for placeholder text */
.addTime-input::placeholder {
  color: #999; /* Placeholder text color */
}
