.addtheater-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.addtheater-header {
    text-align: center;
    margin-bottom: 20px;
}

.addtheater-text {
    font-size: 24px;
    font-weight: bold;
}

.addtheater-underline {
    width: 50px;
    height: 2px;
    background-color: #333;
    margin: 10px auto;
}

.select-container {
    margin-bottom: 20px;
}

.select-input {
    width: 100%;
}

.addtheater-inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.addtheater-input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.addtheater-submit-container {
    text-align: center;
}

.addtheater-submit {
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.addtheater-submit:hover {
    background-color: red;
}

/* Optional: Style for error messages */
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
