.admindetails-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admindetails-whitebox {
  padding: 1rem;
  background-color: white;
  width: 90%;
  max-width: 70rem;
  height: auto;
  border-radius: 1rem;
  box-shadow: 0px 5px 10px 0px rgb(91, 91, 91);
}

.admindetails-details {
  padding-left: 3rem;
  padding-right: 3rem;
}

.admindetails-persondetails {
  color: #323333;
}

.admindetails-profilepicture {
  font-size: 15rem;
  color: #323333;
}

.admindetails-addedmoviestitle {
  color: #e94539;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  margin-top: 3rem;
}

.admindetails-title {
  color: #e94539;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.admindetails-addedmovies {
  background-color: white;
  display: grid;
  grid-template-columns: 28rem 26rem 25rem;
  align-items: center;
  padding-right: 2rem;
  padding-left: 2rem;
  border-radius: 1rem;
  margin-top: 0.5em;
  box-shadow: 0px 2px 5px 0px rgb(91, 91, 91);
}

.admindetails-delete-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 767px) {
  .admindetails-whitebox {
    width: 90%;
    max-width: none;
  }
}

@media (max-width: 575px) {
  .admindetails-details {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.admindetails-underline {
  width: 61px;
  height: 6px;
  background: #e94539;
  border-radius: 9px;
  border-top: 1rem;
  margin-top: 1rem;
}

.admindetails-moviename {
  font-weight: bolder;
  font-size: larger;
}
