.home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}

.card {
  width: calc(33.33% - 40px); /* Display 3 cards per row by default */
  margin: 20px;
}

@media screen and (max-width: 1200px) {
  .card {
    width: calc(50% - 40px); /* Display 2 cards per row on smaller screens */
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: calc(100% - 40px); /* Display 1 card per row on mobile devices */
  }
}

.homepage-dropdown {
  display: flex;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  text-align: center;
}

.homepage-dropdown select {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  color: black;
  background-color: white;
  cursor: pointer;
}

.homepage-dropdown:hover select {
  background-color: #faad40;
}

.search-container input {
  /* background-color: #faad40; */
  padding-left: 0;
}

@media screen and (max-width: 768px) {
  .homepage-dropdown {
    left: 50%;
    transform: translateX(-50%);
  }
}
