.home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .card {
    width: calc(50% - 40px);
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: calc(100% - 40px);
  }
}

.homepage-dropdown {
  display: flex;
  justify-content: center;
}
