.moviedetail {
  display: flex;
  justify-content: space-between;
  padding: 4rem;
}

.moviedetail-card {
  display: flex;
  flex-direction: column;
  align-items: flex;
  margin: auto;
  width: 50%;
  height: auto;
  margin-top: 50px;
  background: white;
  padding-bottom: 30px;
  border-radius: 6px;
}

.moviedetail-moviedetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.moviedetail-theatersform {
  justify-content: center;
  text-align: center;
}

.bookings-date {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
}

.bookings-date:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.bookings-theaterdetails {
  background-color: white;
  display: flex;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: space-between;
  padding-right: 2rem;
  padding-left: 2rem;
  border-block: 1px solid rgb(221, 219, 219);
  margin-top: 1rem;
}

.bookings-navlink {
  margin-top: 50rem;
  display: block;
  text-decoration: none;
  color: white;
  padding-top: 10rem;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

.bookings-selectseats {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ec1b2c;
  text-align: center;
  width: 160px;
  height: 45px;
  color: #fff;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.bookings-timeslots {
  display: flex;
}

.bookings-movietitle {
  font-size: 4rem;
  font-weight: bold;
}

.bookings-moviegenre {
  font-size: 2rem;
}

.bookings-date {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px auto; /* Center the input horizontally */
  display: block; /* Ensure it takes full width */
}

.booking-button {
  border: none;
  background-color: white;
}
.booking-timeslot-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  width: 85px;
  height: 29px;
  background-color: #e94539;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.bookings-date {
  width: 480px;
  height: 50px;
  background: rgba(223, 221, 221, 0.541);
  border: none;
  outline: none;
  color: #323333;
  font-size: 19px;
}
/* .bookings-date-input {
  margin-top: 12rem;
  display: flex;
  margin: auto;
  margin-top: 12rem; 
  width: 480px;
  height: 50px;
  background: #eaeaea;
  border-radius: 6px;
} */
