.active {
  background-color: white;
  color: #e94539;
}

img {
  height: 4.5rem;
  width: 10rem;
}

.active:hover {
  background-color: white;
  color: #323333;
}

nav {
  display: flex;
  justify-content: space-between;
  /* justify-content:ap; */
  align-items: center;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  padding-inline: 1rem;
  box-shadow: 0px 5px 10px 0px rgb(91, 91, 91);
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: rgb(0, 0, 0);
  border-radius: 0.2rem;
}

nav form {
  margin-right: 1rem;
}

nav input[type="text"] {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  margin-right: 0.5rem;
  color: white;
}

nav input[type="text"]::placeholder {
  color: white;
}

nav button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #c92817;
  color: white;
  border: none;
  cursor: pointer;
}

nav button:hover {
  background-color: #faad40;
}

.nav-button:hover {
  background-color: #faad40;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.2rem;
  }

  nav {
    flex-direction: column;
    align-items: start;
    height: auto; /* Reset height for smaller screens */
  }

  nav .menu {
    display: flex;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  nav ul.open {
    display: flex;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    margin: 0.2rem 1.5rem;
  }
}

@media (max-width: 480px) {
  nav form {
    margin-right: 0.5rem;
  }

  nav input[type="text"] {
    margin-right: 0.25rem;
  }
}

.icon {
  font-size: 1.4rem;
}

.nav-button-dropdown {
  margin-top: 0.2rem;
  margin-right: 1.4rem;
  position: relative;
}

.nav-button-dropdown select {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(0, 0, 0);
  color: black; /* Adjust text color */
  background-color: white; /* Adjust background color */
  cursor: pointer;
}

.nav-button-dropdown::after {
  position: absolute;
  top: 50%;
  right: 0.75rem; /* Adjust as needed */
  transform: translateY(-50%);
  pointer-events: none;
}

/* Style on hover if needed */
.nav-button-dropdown:hover select {
  background-color: #faad40; /* Adjust hover background color */
}

.header-logo-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 61%;
}
